<h1>Card Demo</h1>
<div class="row">
  <div class="col-sm-4 mb-4">
    <div class="card" style="width: 22rem">
      <img
        src="/assets/one.jpg"
        class="card-img-top"
        alt="..."
        style="width: 350px; height: 300px"
      />
      <div class="card-body">
        <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque
          repellat odio officia iure itaque repellendus.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 22rem">
      <img
        src="/assets/two.jpg"
        class="card-img-top"
        alt="..."
        style="width: 350px; height: 300px"
      />
      <div class="card-body">
        <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque
          repellat odio officia iure itaque repellendus.
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card" style="width: 22rem">
      <img
        src="/assets/one.jpg"
        class="card-img-top"
        alt="..."
        style="width: 350px; height: 300px"
      />
      <div class="card-body">
        <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque
          repellat odio officia iure itaque repellendus.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 22rem">
      <img
        src="/assets/two.jpg"
        class="card-img-top"
        alt="..."
        style="width: 350px; height: 300px"
      />
      <div class="card-body">
        <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque
          repellat odio officia iure itaque repellendus.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 22rem">
      <img
        src="/assets/one.jpg"
        class="card-img-top"
        alt="..."
        style="width: 350px; height: 300px"
      />
      <div class="card-body">
        <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque
          repellat odio officia iure itaque repellendus.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 22rem">
      <img
        src="/assets/two.jpg"
        class="card-img-top"
        alt="..."
        style="width: 350px; height: 300px"
      />
      <div class="card-body">
        <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque
          repellat odio officia iure itaque repellendus.
        </p>
      </div>
    </div>
  </div>
</div>