<div class="row">
  <div *ngFor="let movie of movieArray" class="col-4 mb-4">
    <div class="card" style="width: 22rem; height: 40rem">
      <figure class="movieCard">
        <img
          src="https://image.tmdb.org/t/p/w1280/{{ movie.backdrop_path }}"
          class="card-img-top"
          alt="..."
          style="width: 350px; height: 300px"
        />
        <figcaption>
          <div class="movieTitle">
            <div class="row">
              <div class="col-10">
                <h3 class="m-0">
                  {{ movie.title }}
                </h3>
              </div>
            </div>
          </div>
          <div class="movieOverview">
            <h4>
              <em>Overview</em>
            </h4>
            <p class="m-0">
              {{ movie.overview }}
            </p>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
